# Required
DATABASE_URL="mongodb://localhost:27017/cognify"
BETTER_AUTH_SECRET="generate-a-random-secret-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Email verification and password reset
NODEMAILER_USER="your-gmail-address"
NODEMAILER_APP_PASSWORD="your-google-app-password"

# OAuth
GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GITHUB_CLIENT_ID="..."
GITHUB_CLIENT_SECRET="..."

# Required for production image uploads
CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."